doctype html
html(lang='en', dir='ltr', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
    |     
    meta(name='format-detection', content='telephone=no, date=no, address=no, email=no, url=no')
    |     
    meta(name='x-apple-disable-message-reformatting')
    |     
    meta(name='color-scheme', content='light dark')
    |     
    meta(name='supported-color-schemes', content='light dark')
    |     
    title=subject

    include _style
    //if mso
      noscript
        xml
          o:officedocumentsettings
            o:pixelsperinch 96
    |     

    //if mso
      style(type='text/css').
        body {
        background-color: #dde0e1 !important;
        }
        body,
        table,
        td,
        p,
        a {
        font-family: Arial, Helvetica, sans-serif !important;
        }
        table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        }
  |   
  body.body(xml:lang='en', style='margin: 0; padding: 0; min-width: 100%; background-color: #dde0e1')
    div(style='width: 100%; table-layout: fixed; background-color: #dde0e1; color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin: 0 auto 40px;')

      div(style='max-width: 600px; background-color: #fafdfe; color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 16px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); margin: 0 auto;')
        div(style='font-size: 0px; color: #fafdfe; mso-line-height-rule: exactly; line-height: 0px; display: none; max-width: 0px; max-height: 0px; opacity: 0; overflow: hidden; mso-hide: all;')
          | This is our preheader text which can be 35-190 characters but 85-100
          | is recommended.
          | &zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;&zwnj;&nbsp;&#x34F;
        //if mso
          table(width='600', align='center', style='border-spacing: 0; border-collapse:collapse; color: #3d3d3d;', role='presentation')
            tbody
              tr
                td(style='padding:0;')
        |         
        table(style='border-spacing: 0; border-collapse: collapse; font-size: 16px; max-width: 600px; padding: 0; background-color: #fafdfe; width: 100%; margin: 0 auto;', cellspacing='0', role='presentation')
          tbody
            tr
              td(style='padding: 0;')
                table(width='100%', style='border-spacing: 0;', role='presentation')
                  tbody
                    tr
                      td(style='background-color: #004d0c; padding: 10px !important; margin: 0 !important;')
                        div(style='font-size: 0; mso-line-height-rule: exactly; line-height: 0; display: none; mso-hide: all;')
                          | &zwnj;&nbsp;&#x34F;
                    |  
block content
