doctype html
//  <html lang="en"> 
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=yes')
        meta(name='format-detection', content='telephone=no, date=no, address=no, email=no, url=no')
        meta(name='x-apple-disable-message-reformatting')
        meta(name='color-scheme', content='light dark')
        meta(name='supported-color-schemes', content='light dark')
        title=subject
        //
            [if mso]>
                <noscript>
                    <xml>
                        <o:OfficeDocumentSettings>
                            <o:PixelsPerInch>96</o:PixelsPerInch>
                        </o:OfficeDocumentSettings>
                    </xml>
                </noscript>
            <![endif]
        style(type='text/css').

            body {
                margin:0;
                padding:0;
                }

                table {
                border-collapse: collapse;
                border-spacing: 0;
                }

                td {padding: 0;}

                p {
                font-size: 16px;
                }
                img {
                border: 0;
                line-height: 0;
                }

                a {
                text-decoration: none;
                font-size: 16px;

                }

                .content {
                line-height: 20px;
                font-size: 16px;
                }

                .ExternalClass {
                width: 100%;
                }

                .ExternalClass {
                width: 100%;
                line-height: 100%;
                }

                .ExternalClass p {
                width: 100%;
                line-height: 100%;
                }

                .ExternalClass span {
                width: 100%;
                line-height: 100%;
                }

                .ExternalClass td {
                width: 100%;
                line-height: 100%;
                }

                .ExternalClass font{
                width: 100%;
                line-height: 100%;
                }
                .ExternalClass td {
                width: 100%;
                line-height: 100%;
                }

                a[x-apple-data-detectors=true] {
                color: inherit !important;
                text-decoration: inherit !important;
                }

                span.Object {
                    color: inherit !important;
                }

                span.Object-hover {
                    color: inherit !important;
                    text-decoration: none;
                }


                tr.border-btm{
                    border-bottom: 1px solid rgb(206, 206, 206);
                    }


                .padding {
                    padding-right: 15px;
                    padding-left: 15px;
                    }

                .btn-padding {
                    padding-right: 60px;
                    padding-left: 60px;
                    padding-top: 0;
                    padding-bottom: 0;
                    }

                @media screen and (max-width: 599.98px) {
                    img {
                    max-width: 600px !important;
                    padding: 0;
                    Margin:0;
                    }
                    }

                @media screen and (max-width: 399.98px) {
                    img {
                    padding: 0;
                    margin:0;
                    }
                    }


                :root {
                    color-scheme: light dark;
                    supported-color-schemes: light dark;
                    }

                @media (prefers-color-scheme: dark) {
                 body {
                    background-color: #242424 !important;
                    color: #f6f6f6 !important;
                    }
                   table {
                    background-color: #242424 !important;
                    color: #f6f6f6 !important;
                    }

                [data-ogsc] body {
                   background-color: #242424 !important;
                   color: #f6f6f6 !important;
                         }

                [data-ogsc] table {
                   background-color: #242424 !important;
                   color: #f6f6f6 !important;
                         }
                    }

        //
            [if mso]>
                <style type="text/css">
                    body {
                    background-color: #dde0e1 !important;
                    }
                    body,
                    table,
                    td,
                    p,
                    a {
                    font-family: Arial, Helvetica, sans-serif !important;
                    }
                    table {
                    border-spacing: 0 !important;
                    border-collapse: collapse !important;
                    }
                </style>
            <![endif]
    body.body(xml:lang='en', style='margin: 0; padding: 0; min-width: 100%; background-color: #dde0e1')
        div(style='width: 100%; table-layout: fixed; background-color: #dde0e1; color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin: 0 auto 40px;')
            div(style='max-width: 600px; background-color: #fafdfe; color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 16px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); margin: 0 auto;')
                div(style='font-size: 0px; color: #fafdfe; mso-line-height-rule: exactly; line-height: 0px; display: none; max-width: 0px; max-height: 0px; opacity: 0; overflow: hidden; mso-hide: all;').

                    This is our preheader text which can be 35-190 characters but 85-100 is recommended. ‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏‌ ͏

                //
                    [if mso]>
                        <table width="600" align="center" style="border-spacing: 0; border-collapse:collapse; color: #3d3d3d;" role="presentation">
                        <tr>
                        <td style="padding:0;">
                        <![endif]
                table(style='border-spacing: 0; border-collapse: collapse; font-size: 16px; max-width: 600px; padding: 0; background-color: #fafdfe; width: 100%; margin: 0 auto;', cellspacing='0', role='presentation')
                    tbody
                        tr
                            td(style='padding: 0;')
                                table(width='100%', style='border-spacing: 0;', role='presentation')
                                    tbody
                                        tr
                                            td(style='background-color: #004d0c; padding-top: 10px;')
                                        tr
                                            td(align='center')
                                                img(width='100', src='https://bsomintegrated.com.ng/images/BsomAgro-green-yellow.png', style='width:40%; border: 0;')
                                        tr
                                            td.padding(style='padding-right: 15px; padding-left: 15px;')
                                                h3(style='text-align: center; color: #4a4a4a;').

                                                    Thank you for your order

                                        tr
                                            td.padding(style='padding-right: 15px; padding-left: 15px; color: #4a4a4a;')
                                                p(style='color: #4a4a4a;') Hi #{shippingAddress.firstname},
                                                p(style='color: #4a4a4a;').

                                                    Thank you for shopping on BSOMAgro

                                                p(style='color: #4a4a4a;').

                                                    Your order #{_id} has been confirmed successfully.

                                                p(style='color: #4a4a4a;').

                                                    The product(s) you ordered will be shipped shortly. You will receive notifications from us once the product(s) are shipped, in transit, and ready for delivery.

                                        tr
                                            td.padding.table-content-heading(style='padding-right: 15px; padding-left: 15px;')
                                                h5(style='color: #242424;') You ordered:
                                                table(width='100%', cellpadding='0', cellspacing='0')
                                                    tbody
                                                            tr(style='padding: 20px;')
                                                                th(style='padding-top: 0px; padding-bottom: 10px; color: #242424;', align='left').

                                                                    Item(s)

                                                                th(align='center', style='padding-top: 0px; padding-bottom: 10px; color: #242424;').

                                                                    Qty

                                                                th(align='right', style='padding-top: 0px; padding-bottom: 10px; color: #242424;').

                                                                    Price
                                                    ul
                                                        each item in orderItems
                                                            li(style='list-style-type:none')
                                                                tr
                                                                    td(style='padding-top: 20px; padding-bottom: 20px; color: #242424;').

                                                                        #{item.title}

                                                                    td(align='center', style='color: #242424;') #{item.qty}
                                                                    td(align='right', style='color: #242424;') ₦#{item.price}
                                                    tr(style='border-bottom: 3px solid rgb(206, 206, 206); border-top: 3px solid  rgb(206, 206, 206); text-align: left;')
                                                        th(style='padding-top: 20px; padding-bottom: 20px; color: #242424;').

                                                            Total

                                                        th
                                                        th(style='padding-top: 20px; padding-bottom: 20px; color: #242424;', align='right').

                                                            ₦#{formattedItemsPrice}

                                        tr
                                            td.padding.table-content-heading(style='padding-right: 15px; padding-left: 15px;')
                                                h5(style='color: #242424;') Recipient Information:
                                                table(width='100%', cellpadding='0', cellspacing='0')
                                                    tbody
                                                        tr
                                                            th(width='40%', style='text-align: left; color: #242424;').

                                                                Name

                                                            th(width='60%', align='right') Address
                                                        tr
                                                            td
                                                                p(style='font-size: 14px; color: #4a4a4a;').

                                                                    #{shippingAddress.lastname} #{shippingAddress.firstname}

                                                            td(align='right')
                                                                p(style='font-size: 14px;  color: #4a4a4a;').

                                                                    #{shippingAddress.address}, #{shippingAddress.lga} Local government, #{shippingAddress.userstate} state.

                                                                p(style='font-size: 14px; color: #4a4a4a;').

                                                                    0#{shippingAddress.phonenumber}

                                        tr
                                            td.padding(style='padding-right: 15px; padding-left: 15px;')
                                                p(style='color: #4a4a4a; font-size: 14px;').

                                                    Best regards,

                                                p(style='color: #4a4a4a; font-size: 14px;').

                                                    BSOMAgro Team

                                        tr
                                            td.padding(align='center', style='background-color: #f5f5f5; color: #767676; padding-bottom: 20px; padding-right: 15px; padding-left: 15px;')
                                                p(style='color: #767676; margin-bottom:0; font-size: 14px; padding-bottom: 10px;').

                                                    BSOMAgro Nigeria, Ltd. Ibadan, Oyo State, Nigeria

                                                p(style='margin:0; font-size: 13px; color: #004d0c;')
                                                    a(href='#', style='margin:0; font-size: 13px; text-decoration: none; color: #004d0c; color: inherit;') Unsubscribe from our emails
                //
                    [if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]