<!DOCTYPE html>
<!-- <html lang="en"> -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .wrapper {
              width: 100%;
            table-layout: fixed;
            background-color: #ffffff;
          }

        body {
            Margin:0;
            padding:0;
          }

        table {
            border-collapse: collapse;

             }
        .container {
          max-width: 600px;
          Margin: 0 auto;
          }

        .outer {
              Margin: 0 auto;
              width: 100%;
              max-width: 600px;
              font-family: sans-serif;
              color: #4a4a4a;
        }

        .table-content-heading {
              text-align: left;
          }

       .padding tr {
            height: 40px;
          }

        tr.boder-btm{
            border-bottom: 1px solid rgb(206, 206, 206);
          }

          .padding {
            padding-top: 20px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
          }



            @media screen and (min-width: 600px) {
                .outer {

                    background-color: #f5f5f5;
                }
               .inner {
      padding: 20px;
      border: 1px solid rgb(240 238 238);
      Margin: 0 auto;
      width: 90%;
      background-color: #ffffff;
               }
             }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <table class="outer" align="center">
          <tr>
            <td>
              <table class="inner">
                <tr>
                  <td>
                    <table width="100%" style="border-spacing: 0">
                      <tr>
                        <td
                          style="background-color: rgb(167, 136, 255); padding-top: 10px;"
                        ></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="padding">
                    <table align="center">
                      <tr>
                        <td>
                          <img width="120" src="../email/img/w3newbie.png" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="padding">
                    <table align="center">
                      <tr>
                        <td>
                          <h1 style="text-align: center;">
                            Thank you for your order
                          </h1>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="padding">
                    <table>
                      <tr>
                        <td>
                          <p>Hi John,</p>
                          <p>Thank you for shopping on BSOMAgro</p>
                          <p>
                            Your order {Order1d} has been confirmed successfully
                          </p>
                          <p>
                            The product you order will be shipped shortly. You
                            will get a notification from us once the product(s)
                            are shipped, in transit and ready for delivery.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="padding table-content-heading">
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr class="boder-btm">
                        <h5>You ordered:</h5>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>Iphone 15 Pro</td>
                        <td>1</td>
                        <td>20,000</td>
                      </tr>

                      <tr
                        style="border-bottom: 3px solid rgb(206, 206, 206); border-top: 3px solid  rgb(206, 206, 206);"
                      >
                        <th>Total</th>
                        <th></th>
                        <th>$60,400</th>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="padding table-content-heading">
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr class="boder-btm">
                        <h5>Recipient Information:</h5>
                        <th width="50%">Name</th>
                        <th width="50%">Address</th>
                      </tr>
                      <tr>
                        <td>Adedeji Olalekan</td>
                        <td>
                          <p>4, Victoria Island, Lagos, Nigeria</p>

                          <p>07039227824</p>
                        </td>
                      </tr>
                      <!-- <tr
                        style="border-bottom: 3px solid rgb(206, 206, 206); border-top: 3px solid  rgb(206, 206, 206);"
                      >
                        <th></th>
                      </tr> -->
                    </table>
                  </td>
                </tr>

                <!-- <tr>
                  <td>
                    <table>
                      <tr>
                        <td class="padding">
                          <p style="color: rgb(144, 144, 144);">
                            Commodo non magna cupidatat elit eu veniam cillum
                            exercitation adipisicing Lorem nisi. Lorem nisi anim
                            proident labore incididunt qui magna culpa tempor ut
                            pariatur. Reprehenderit enim ut consectetur do
                            excepteur non irure in amet.
                          </p>

                          <h1
                            style="color: rgb(144, 144, 144); font-size: 30px; text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 10px;"
                          >
                            Let us know your experience
                          </h1>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr> -->

                <!-- <tr>
                  <td>
                    <table>
                      <tr>
                        <td class="padding">
                          <p style="color: #4a4a4a;">
                            Commodo non magna cupidatat elit eu veniam cillum
                            exercitation adipisicing Lorem nisi. Lorem nisi anim
                            proident labore incididunt qui magna culpa tempor ut
                            pariatur. Reprehenderit enim ut consectetur do
                            excepteur non irure in amet.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr> -->

                <!-- <tr>
                  <td class="padding">
                    <table align="center">
                      <tr>
                        <td class="padding">
                          <a
                            href="#"
                            style="color: #ffffff; border-radius: 4px; text-decoration: none; padding: 20px; background-color: rgb(39, 111, 235);"
                          >
                            Check Shipping Status
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr> -->

                <tr>
                  <td class="padding">
                    <table align="left">
                      <tr>
                        <td class="">
                          <p style="color: #4a4a4a;">Best regards,</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="">
                          <p style="color: #4a4a4a;">BSOMAgro Team</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td
              class="padding"
              style="background-color: #f5f5f5; color: #767676;"
            >
              <table align="center">
                <tr>
                  <td style="text-align: center;">
                    <p style="color: #767676; Margin-bottom:0;">
                      Some Firm Ltd, 35 Avenue, City 10115, USA
                    </p>
                    <p style=" Margin:0;">Unsubscribe from our emails</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
